@import "styles/settings/__settings";
@import "styles/util/__util";

.projectContent {

  margin-bottom: 3rem;

  @include gtXlarge {
    width: calc(100% - #{$project-sidebar-width});
    padding-right: 5rem;
  }

  h2 {
    // Temp hack to override color due to style ordering
    background-color: $color-purple!important;
  }

}