@import "styles/settings/__settings";

.button {
  color: white;
  font-family: inherit;
  font-weight: 700;
  background-color: $color-blue-medium;
  padding: .8em 1.4em;
  border-radius: .2rem;
  border: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .4);
  cursor: pointer;
}