@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap');

:root {
  --color-blue-medium: #0A64EC;
  --color-blue-dark: #100E4F;
  --color-purple: #9162BB;
  --color-purple-light: #AD6EE7;
  --color-gray-light: #E0DFFF;
  --color-gray-medium: #909090;
  --border-radius-small: 3px;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  border-radius: var(--border-radius-small);
  border: 0;
}

button {
  color: white;
  height: 2.1155em;
  font-family: inherit;
  font-size: 1.3em;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 2em;
  background-color: var(--color-blue-medium);
  border-radius: var(--border-radius-small);
  border: 0;
}
