@import "settings/__settings";

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

/***************************
 * Components / Typography *
 ***************************/

button {
  font-size: 1em;
}

p,
ul {
  font-size: 1.3em;
  line-height: 1.5;
}

ul {
  padding-left: 1.2em;
}

li {
  margin-bottom: .2em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
a {
  color: inherit;
}

/***********
 * Helpers *
 ***********/

.sronly {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.color-blue {
  color: $color-blue-medium;
}

.color-purple {
  color: $color-purple;
}