.main {
  border-top: solid 20px var(--color-purple);
}

.blue {
  color: var(--color-blue-medium);
}

.purple {
  color: var(--color-purple);
}

.sronly:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Section */

.section {
  padding: 4rem 0;
}

.section[data-background-color="blue"] {
  color: white;
  background-color: var(--color-blue-medium);
}

.section[data-background-color="blue-dark"] {
  color: white;
  background-color: var(--color-blue-dark);
}

.section h1:first-child,
.section h2:first-child,
.section h3:first-child,
.section .subhead:first-child,
.section p:first-child {
  margin-top: 0;
}

.section h1:last-child,
.section h2:last-child,
.section h3:last-child,
.section .subhead:last-child,
.section p:last-child {
  margin-bottom: 0;
}

/* Container */

.container {
  max-width: 60rem;
  text-align: center;
  padding: 0 2rem;
  margin: 0 auto;
}

.container h2,
.container .subhead {
  color: var(--color-blue-dark);
}

.section[data-background-color="blue"] .container h2,
.section[data-background-color="blue"] .container .subhead {
  color: white;
}

.container h2 {
  font-size: 5vw;
  font-size: clamp(3rem, 5vw, 4.5rem);
  font-weight: 900;
}

.container .subhead {
  font-size: 3.2vw;
  font-size: clamp(2rem, 3.2vw, 3rem);
}

@media (max-width: 600px) {
  .container .subhead {
    font-size: 7vw;
  }
}

.container p,
.container ul {
  font-size: 1.5em;
}

/* Form */

.form {
  max-width: 15rem;
  margin: 2rem auto 0;
}

@media (max-width: 600px) {
  .form {
    width: 100%;
    max-width: none;
    font-size: 1.2em;
  }
}

.form p,
.form input,
.form button {
  width: 100%;
  text-align: center;
}

.form p {
  color: var(--color-gray-light);
  font-size: .8em;
  font-weight: 400;
}

.form input {
  height: 2.5em;
  font-size: 1.1em;
}

.form[data-theme="light"] input {
  border: solid 2px var(--color-gray-medium);
}

.form button {
  color: white;
  margin-top: .6em;
}

/* Hero */

.hero {
  color: white;
  background-color: var(--color-blue-dark);
  padding-bottom: 1rem;
}

.hero h1 {
  font-size: clamp(1.5em, 5vw, 3.5em);
  margin: 0;
}

.hero h1 strong,
.hero h1 span {
  display: block;
  text-align: center;
  font-weight: 900;
}

.hero h1 strong {
  font-size: 2.4em;
  line-height: 1;
}

.hero .logo {
  width: clamp(10rem, 18vw, 14rem);
  margin: 3rem auto;
}

.hero .logo svg {
  width: 100%;
}

.hero .form {}

@media (max-width: 600px) {
  .hero .form {
    padding: 0 2rem;
  }
}

/* Preview */

#preview {
  overflow: hidden;
}

#preview img {
  display: block;
  width: 110%;
  margin: 5em 0 -10rem;
  transform: translateX(-5%);
}

@media (max-width: 600px) {
  #preview img {
    width: 100%;
    margin: 3em 0 -7rem;
    transform: translateX(0);
  }
}

/* Content */

.topics {
  width: 38em; /* 12em + 12em + 2em*/
  margin: 3em auto;
}

@media (max-width: 40em) {
  .topics {
    width: 18em;
  }
}

.topics ul {
  display: grid;
  grid-template-columns: 12em 12em;
  grid-gap: .4em 2em;
  text-align: left;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (max-width: 40em) {
  .topics ul {
    grid-template-columns: 1fr;
  }
}


.topics li {
  display: flex;
  flex: 1;
  align-items: center;
  font-weight: 700;
  line-height: 1.6;
}

@media (max-width: 40em) {
  .topics li {
    grid-template-columns: 1fr;
  }
}

.topics span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
  font-size: .7em;
  background-color: var(--color-blue-dark);
  border-radius: 100%;
  margin-right: .6em;
}

/* Start */

#start h2 {
  margin-bottom: .6em;
}

#start .form {
  margin-top: 4em;
}

/* Footer */

.footer {
  background-color: var(--color-purple);
  padding: 1rem;
}

.footer p {
  color: white;
  font-size: 1.2em;
  margin: 0;
}

.footer a {
  text-decoration: underline;
}