.blue {
  color: var(--color-blue-medium);
}

.purple {
  color: var(--color-purple);
}

.purplelight {
  color: var(--color-purple-light);
}

.sronly:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.tagline {
  text-align: center;
  font-size: clamp(1.5em, 4vw, 3em);
}

.subhead {

  font-size: 3.2vw;
  font-size: clamp(2rem, 3.2vw, 3rem);

  @media (max-width: 600px) {
    font-size: 7vw;
  }

}

.form {

  @media (max-width: 600px) {
    padding: 0 2rem;
  }

}

/* Form */

.form {
  max-width: 15rem;
  margin: 2rem auto 0;
}

@media (max-width: 600px) {
  .form {
    width: 100%;
    max-width: none;
    font-size: 1.2em;
  }
}

.form p,
.form input,
.form button {
  width: 100%;
  text-align: center;
}

.form p {
  color: var(--color-gray-light);
  font-size: .8em;
  font-weight: 400;
}

.form input {
  height: 2.5em;
  font-size: 1.1em;
}

.form[data-theme="light"] input {
  border: solid 2px var(--color-gray-medium);
}

.form button {
  color: white;
  margin-top: .6em;
}

/* Preview */

#preview {
  overflow: hidden;
}

#preview img {
  display: block;
  width: 110%;
  margin: 5em 0 -10rem;
  transform: translateX(-5%);
}

@media (max-width: 600px) {
  #preview img {
    width: 100%;
    margin: 3em 0 -7rem;
    transform: translateX(0);
  }
}

/* Content */

.topics {

  font-size: clamp(.8em, 1.5vw, 1em);
  width: 38em;
  margin: 3em auto;

  ul {

    display: grid;
    grid-template-columns: 12em 12em;
    grid-gap: .4em 2em;
    text-align: left;
    list-style: none;
    padding: 0;
    margin: 0;

    @media (max-width: 40em) {
      grid-template-columns: 1fr;
    }

  }

  li {

    display: flex;
    flex: 1;
    align-items: center;
    font-weight: 700;
    line-height: 1.6;

    @media (max-width: 40em) {
      grid-template-columns: 1fr;
    }

  }

  span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    font-size: .7em;
    background-color: var(--color-blue-dark);
    border-radius: 100%;
    margin-right: .6em;
  }

}

/* Start */

#start h2 {
  margin-bottom: .6em;
}

#start .form {
  margin-top: 4em;
}