@import "styles/settings/__settings";

.blue {
  color: $color-blue-medium;
}

.purple {
  color: $color-purple;
}

.purplelight {
  color: $color-purple-light;
}

.sronly:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.tagline {
  text-align: center;
  font-size: clamp(1.5em, 4vw, 3em);
}

.subhead {

  font-size: 3.2vw;
  font-size: clamp(2rem, 3.2vw, 3rem);

  @media (max-width: 600px) {
    font-size: 7vw;
  }

}




/* Content */

.topics {

  font-size: clamp(.8em, 1.5vw, 1em);
  max-width: 38em;
  margin: 3em auto;

  ul {

    display: grid;
    grid-template-columns: 12em 12em;
    grid-gap: .4em 2em;
    text-align: left;
    list-style: none;
    padding: 0;
    margin: 0;

    @media (max-width: 40em) {
      grid-template-columns: 1fr;
    }

  }

  li {

    display: flex;
    flex: 1;
    align-items: center;
    font-weight: 700;
    line-height: 1.6;

    @media (max-width: 40em) {
      grid-template-columns: 1fr;
    }

  }

  span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    font-size: .7em;
    background-color: $color-blue-dark;
    border-radius: 100%;
    margin-right: .6em;
  }

}

/* Start */

#start h2 {
  margin-bottom: .6em;
}

#start .form {
  margin-top: 4em;
}



#preview {
  overflow: hidden;
}

.previewimage {

  position: relative;
  width: 55em;
  height: clamp(10em, 20vw, 18em);
  font-size: clamp(.33em, 1.4vw, 1em);
  margin: 0 auto;

  img {

    position: absolute;
    z-index: 0;
    width: 1em;
    height: 1.294117647em;
    font-size: 24em;
    margin: auto;
    box-shadow: 0 8px 12px rgba(black, .2);

    &:nth-child(1) {
      top: .1em;
      left: 0;
    }

    &:nth-child(2) {
      top: 0;
      right: 0;
      left: 0;
      z-index: 1;
    }

    &:nth-child(3) {
      top: .1em;
      right: 0;
    }

  }

}

.version {
  opacity: .8;
}

.support {

  background-color: $color-purple;
  padding: 1.4em 1.6em;
  margin-top: 4em;

  h3,
  p {
    color: white!important;
  }

  h3 {
    font-weight: 900;
    font-size: 2em;
    margin-bottom: -.4em;
  }

  a {
    text-decoration: underline;
  }

}

.producthunt {

  a {
    display: block;
    transform: scale(.8);
    text-align: center;
    margin: 2em auto -2em;
  }

}