@import "styles/settings/__settings";
@import "styles/util/__util";

.section {

  padding: 3rem 0;

  @include gtMedium {
    padding: 5em 0;
  }

  &[data-spacing="compact"] {
    padding: 2rem 0;
  }

  &[data-background-color="blue"] {
    color: white;
    background-color: $color-blue-medium;
  }

  &[data-background-color="blue-dark"] {
    color: white;
    background-color: $color-blue-dark;
  }

  &[data-background-color="purple"] {
    color: white;
    background-color: $color-purple;
  }

}