@import "styles/settings/__settings";

.section {

  padding: 5rem 0;

  &[data-spacing="compact"] {
    padding: 2rem 0;
  }

  &[data-background-color="blue"] {
    color: white;
    background-color: $color-blue-medium;
  }

  &[data-background-color="blue-dark"] {
    color: white;
    background-color: $color-blue-dark;
  }

}