.footer {

  background-color: var(--color-purple);
  padding: 1.4rem 1rem;

  p {
    color: white;
  }

  a {
    text-decoration: underline;
  }

}

.shareheader {
  margin-bottom: 0;
}

.subhead {

  font-size: 3.2vw;
  font-size: clamp(2rem, 3.2vw, 3rem);
  margin-top: .2em;

  @media (max-width: 600px) {
    font-size: 7vw;
  }

}

.sharebutton {
  font-size: 1em;
  padding: 0 1em;
}

.footerheader {
  font-size: 2em;
  font-weight: 900;
  color: white;
  margin: 0 0 .4em;
}

.sponsor {
  margin: 0 0 .2em;
}

.copyright {
  font-size: 1em;
  margin: 0;
}