@import "styles/settings/__settings";
@import "styles/util/__util";

$footer-background-color: $color-blue-dark;

.footer {
  color: rgba(255, 255, 255, .8);
  background-color: $footer-background-color;
}

.footerSection {

  text-align: center;
  padding: .5rem 0;
  margin: 0;

  &:first-child {
    border: none;
  }

  &,
  p {
    color: inherit;
  }

  p {

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

  }

  a {

    font-weight: 600;
    text-decoration: none;

    @media (hover: hover) {

      &:hover {
        color: white;
      }

    }

  }

}

.footerContentContainer {

  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: none;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;

  @include gtMedium {
    text-align: left;
    flex-direction: row;
  }

  & > div {

    width: 100%;
    min-width: 0;
    margin: .5em 0;

    @include gtMedium {
      margin: 0 1.5em;
    }

  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  h3,
  p,
  ul {
    margin: 0;
  }

  h3 {
    color: $color-purple;
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: .4em;
  }

}

.footerLegal {

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-grow: 1;

  @include gtXlarge {
    justify-content: flex-end;
    width: auto;
    margin-top: 0;
  }

  ul {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-top: .6em;
  }

  li {

    margin-right: .8em;
    margin-bottom: 0;

    a {
      display: flex;
      align-items: center;
    }

  }

  a {

    svg {
      font-size: 1.2em;
    }

  }


}

.footerCosmo {

  order: -1;
  font-size: .6em;
  margin-right: 1em;

  @include gtXlarge {
    order: 0;
    transform: scale(1.2) scaleX(-1);
    margin-right: 0;
    margin-left: 1em;
  }

}

.footerCosmoStroke {
  fill: $footer-background-color;
}